/* Root Styles CSS */
:root {
  background-color: white;
  font-family: Urbanist, sans-serif;
  color: rgb(61, 59, 59);
}

/* Header CSS */
.header-container {
  overflow: hidden;
  padding: 20px 20px;
  padding-bottom: 60px;
  color: rgb(61, 59, 59);
}

.header-left {
  float: left;
  height: 100px;
  width: 310px;
}

.header-left img {
  padding-top: 8px;
  height: 80px;
}

.header-left h1 {
  float: right;
  font-size: 45px;
}

.header-right {
  float: right;
  padding-top: 30px;
  padding-right: 10px;
}

.header-right button {
  background-color: white;
  border: solid;
  border-width: 3px;
  border-color: rgb(232, 148, 210, 0.873);
  border-radius: 0.1rem;
  border-radius: 16px;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  touch-action: manipulation;
  width: 80px;
}

/* Home page CSS */

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 390px;
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(232, 148, 210, 0.873);
  border-radius: 1rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.057);
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 60px;
}

.card img {
  height: 100%;
}

.top-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem 1rem 0 0;

  height: 250px;
}

.bottom-container {
  margin-top: 20px;
  margin-left: 10px;
}

.bottom-container h3 {
  margin-top: 10px;
  margin-bottom: 6px;
}

.bottom-container p {
  margin: 2px;
  font-size: small;
}

.bottom-container a {
  color: rgb(228, 16, 133);
  text-decoration: none;
  font-size: small;
  margin: 2px;
}

/* 404 Page CSS */

.fof-container {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: black;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  color: rgb(26, 25, 25);
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.6s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

/* Detail Page CSS*/

.gift-info {
  display: flex;
  flex-direction: row;
}

.image-container {
  padding-left: 100px;
  width: 40vw;
}

.image-container img {
  width: 80%;
}

.gift-details {
  width: 45vw;
}
